@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  min-height: 100%;
}

body {
  background-color: #F5F1EA;
  -webkit-font-smoothing: antialiased;
}

.entry-focused {
  box-shadow: inset 2px 0 0 0 #C0622A;
  background-color: #EDE8DF;
}
